<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAb87fXXSaK-X5MsgFQMDZI-xRjIQNMo6E</string>
	<key>GCM_SENDER_ID</key>
	<string>25654831343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.storyme.app</string>
	<key>PROJECT_ID</key>
	<string>storyme-app-d02d2</string>
	<key>STORAGE_BUCKET</key>
	<string>storyme-app-d02d2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25654831343:ios:93b38c3f190d2dc2b4131a</string>
</dict>
</plist>